@import '@angular/cdk/overlay-prebuilt.css';
@import 'prismjs/themes/prism.css';
@import 'prismjs/plugins/diff-highlight/prism-diff-highlight.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
html,
body {
  height: 100%;
  margin: 0;
}

:root {
  --font-sans: '';
}

select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  -webkit-print-color-adjust: exact;
  appearance: none;
  display: inline-flex;
  align-items: center;
}
:root {
  --background: 0 0% 100%;
  --foreground: 0 0% 3.9%;
  --muted: 0 0% 96.1%;
  --muted-foreground: 0 0% 45.1%;
  --popover: 0 0% 100%;
  --popover-foreground: 0 0% 3.9%;
  --card: 0 0% 100%;
  --card-foreground: 0 0% 3.9%;
  --border: 0 0% 89.8%;
  --input: 0 0% 89.8%;
  --primary: 0 0% 9%;
  --primary-foreground: 0 0% 98%;
  --secondary: 0 0% 96.1%;
  --secondary-foreground: 0 0% 9%;
  --accent: 0 0% 96.1%;
  --accent-foreground: 0 0% 9%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;
  --ring: 0 0% 3.9%;
  --radius: 0.5rem;
  color-scheme: light;
}

.dark {
  --background: 0 0% 3.9%;
  --foreground: 0 0% 98%;
  --muted: 0 0% 14.9%;
  --muted-foreground: 0 0% 63.9%;
  --popover: 0 0% 3.9%;
  --popover-foreground: 0 0% 98%;
  --card: 0 0% 3.9%;
  --card-foreground: 0 0% 98%;
  --border: 0 0% 14.9%;
  --input: 0 0% 14.9%;
  --primary: 0 0% 98%;
  --primary-foreground: 0 0% 9%;
  --secondary: 0 0% 14.9%;
  --secondary-foreground: 0 0% 98%;
  --accent: 0 0% 14.9%;
  --accent-foreground: 0 0% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 0% 98%;
  --ring: 0 0% 83.1%;
  color-scheme: dark;
}

* {
  @apply border-border;
}

html,
body {
  display: block;
  height: 100%;
  font-feature-settings: 'liga', 'calt', 'tnum', 'ss01', 'cv11';
}

pre[class*='language-'],
code[class*='language-'] {
  font-family: 'Geist Mono';
  font-size: 12px;
  font-weight: 500;
  border-radius: 0.75rem;
}

pre[class*='language-'] {
  padding-block: 1rem;
  padding-inline: 1.25rem;
}

[lang='md'] h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
table,
thead,
tbody,
tfoot,
th,
td,
blockquote {
  all: revert;
}

[lang='md'] .code-toolbar {
  position: relative;
}

[lang='md'] .code-toolbar .toolbar {
  position: absolute;
  top: 0.6rem;
  right: 0.5rem;
  z-index: 999;
  opacity: 0;
  cursor: pointer;
  min-width: 2rem;
}

[lang='md'] .code-toolbar .toolbar:hover {
  opacity: 1;
}

[lang='md'] .code-toolbar .toolbar .toolbar-item button {
  background-color: #ffffff;
  color: #111011;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  border: none;
}

[lang='md'] h1,
[lang='md'] h2,
[lang='md'] h3,
[lang='md'] h4,
[lang='md'] h5,
[lang='md'] h6 {
  color: var(--primary-color);
}

[lang='md'] p {
  color: var(--text-color);
}

[lang='md'] a {
  color: var(--primary-color);
}

[lang='md'] blockquote {
  color: var(--primary-color);
}

[lang='md'] table {
  color: var(--primary-color);
}
